:root   {
    --list-box-bg : rgb(33, 32, 32);
    --list-bg : rgb(69, 67, 67);
}

body{
    background-color:rgb(1, 12, 23);
    color: aliceblue;
    user-select: none;
    overflow: hidden;
}

.skeleton   {
    animation: skeleton 1s linear infinite alternate ;
    z-index: 1;
}

.skeleton-text  {
    height: .6rem;
    width: 100%;
    border-radius: .25rem;
    margin: 6px 0 !important;
    filter: blur(10%);

}

.skeleton-text:last-child   {
    width: 70%;
    margin-bottom: 0;
}

@keyframes skeleton {
    0%  {
        background-color: rgba(46, 46, 46, 0.6);

    }
    
    100%  {
        background-color: rgba(72, 72, 72, 0.5);
    }
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track   {
    background-color:rgb(1, 12, 23);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(29, 41, 78);
}

.absolute   {
    position: absolute;
}

header  {
    display: block;
    height: 30px;
}

header .title{
    height: inherit;
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
}

header .title h1 , header .title img  {
    height: 30px;
    width: 30px;
    font-size: 25px;
}

header .title p {
    transform: translateX(100px);
}

.side-bar .top .options:nth-child(0) > .img {
    border: 1.5px solid rgba(155, 155, 155, 0.37);
    border-left: 5px solid rgba(137, 43, 226, 0.854);
}

.side-bar .bottom .options:nth-child(0) > .img {
    height: 31px;
    width: 31px;
    background-color: rgba(80, 79, 79, 0.623);
    filter: brightness(150%);
}

.side-bar   {
    display: block;
    position: fixed;
    top: 7%;
    width: auto;
    height: 100%;
}

.side-bar {
    display: block;
    position: fixed ;
    padding: 5px;
    margin: 4px;
}

.side-bar .options  {
    margin: 10px 2px;
    text-align: center;
}

.side-bar .bottom   {
    display: block;
    position: fixed;
    bottom: 0%;
}


.side-bar .options .img  {
    height: 30px;
    width: 30px;
    display: flex;  
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 4px;
    padding: 2px;
    border-radius: 3px;
    
}

.side-bar .profile .img  {
    transform: translateX(4px);
    margin: 0px;
    border-radius: 100%;
    
}


.side-bar .options .img img {
    height: auto;
    width: 20px;
    mix-blend-mode: lighten;
}

.side-bar .profile .img img {
    width: 19px;
    border: 1px solid aliceblue;
    border-radius: 100%;
}

.side-bar .options:hover > .img  {
    background-color: rgba(80, 79, 79, 0.623);
    opacity: 80%;
    transition: .5s background ;
}

.side-bar .options h6 {
    margin: 1px;
    font-size: calc(80%);
    transform: translateX(-7%);
}

.chat-box {
    display: block;
    position: absolute;
    height: calc(88% + 5px);
    width: 90%;
    margin: 5px;
    transform: translate( 70px , 10px);
    border: 4px solid var(--list-box-bg);
    border-radius: 10px;
    background-color: var(--list-box-bg);
}


.chat-box .chat-list {
    box-sizing: border-box;
    display: block;
    position: fixed;
    height: calc(96% + 5px);
    width: 28%;
    padding: 6px;
    margin: inherit;
    border-radius: 10px 0 0 10px;
    background-color: var(--list-box-bg);
    outline: 2px solid rgb(1, 12, 23);
   
}

.chat-box .chat-list .page-name{
    display: block;
    position: relative;
    background-color: var(--list-box-bg);
}

.chat-box .chat-list .page-name #cname{
    background-color: var(--list-box-bg);
    padding: 0%;
    margin: 15px;
}

.chat-box .chat-list .hr{
    height: 1.5px;
    width: calc(100% + 10px);
    margin: 6px 0px;
    transform: translateX(-6px);
    background-color: rgba(240, 248, 255, 0.423);
}

.chat-box .chat-list .search   {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--list-box-bg);
    
}

.chat-box .chat-list .search input{
    height: 30px;
    width: 80%;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 10px;
    border:none;
    outline: none;
    border-bottom: 2px inset white;
    background-color:rgb(1, 12, 23);
    color: rgba(255, 255, 255, 0.756);
}

.chat-box .chat-list .search input:focus   {
    border-color: blueviolet;
    transition: 1s border cubic-bezier(0.165, 0.84, 0.44, 1);
}

.scroll {
    display: block ;
    overflow-y: auto;
    overflow-x: hidden;
}

.list  {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-content: center;
    flex-direction: column;
    max-height: calc(90% - 60px);
    background-color: var(--list-box-bg);
    
}

.list .texter  {
    display: flex;
    width: 95%;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    align-content: center;
}

.list .texter:hover , .select {
    background-color: rgba(110, 110, 110, 0.218);
}

.list .img  {
    background-color: var(--list-box-bg);
    display: block;
    height: 30px;
    width: 30px;
    padding: 0px;
    margin: 7px;
    background-color: var(--list-box-bg);
    border-radius: 100%;

}

.list .img img {
    display: block;
    height: inherit;
    width: inherit;
    background-color: var(--list-box-bg);
    border-radius: 100%;
}

.list .details {
    height: 45px;
    width: 80%;
    display: block;
    padding: 3px;
    background-color: var(--list--bg);
    margin: 2px;
}

.list h5,.list p{
    margin: 2px;
    user-select: text;
}

.list p{
    word-break: normal;
}
